[package]
name = "d06TrashCompactor"
version = "0.1.0"
edition = "2024"

[dependencies]
[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto=true
panic = 'unwind'
incremental = false
codegen-units = 1
rpath = false